body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Impact", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: white;
    background-color: black;
    text-align: center;
}

h1 {
    text-align: center;
    width: auto;
    color: red;
}

h2 {
    border-width: 5px;
    border-color: white;
    border-style: solid;
    text-align: center;
    padding: 20px 40px;
    width: 25%;
    margin: 5% auto;
    color: white;
}

h2:active {
    border-color: #bbb;
    border-style: inset;
    color: #bbb;
}

h3 {
    text-align: center;
    width: auto;
}

form {
    display: inline-block;
    
}

div{ 
border: 5px solid white;
margin: 5px;
padding: 5px 5px 10px 5px;
width: 250px;
}

input{
    padding: 5px 10px 10px 10px;
}

output{
    color: red;
}
